<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB03UdM88aIvn3AI3VfGqLE74CYRFrh0eM</string>
	<key>GCM_SENDER_ID</key>
	<string>207969446348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cultivoHidroponico.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sistemahidroponico-cb0a5</string>
	<key>STORAGE_BUCKET</key>
	<string>sistemahidroponico-cb0a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207969446348:ios:a4f563f5b4765ae07b1569</string>
	<key>DATABASE_URL</key>
	<string>https://sistemahidroponico-cb0a5-default-rtdb.firebaseio.com</string>
</dict>
</plist>